body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: linear-gradient(89deg, #dc2430 0%, #7b4397 100%);
}

.purple{
    background: #7b4397; /* Old browsers */
    background: -moz-color #7b4397; /* FF3.6+ */
    background: -webkit-color #7b4397; /* Chrome,Safari4+ */
    background: -webkit-color #7b4397; /* Chrome10+,Safari5.1+ */
    background: -o-color #7b4397; /* Opera 11.10+ */
    background: -ms-color #7b4397; /* IE10+ */
    background: #7b4397; /* W3C */
}

a{
  color: white;
  text-decoration: none;
}
